@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*{
    background-color: #b5b3b3;
    font-family: "Poppins", sans-serif;
}

/* .logo img {
    /* border-radius: 50%;
    padding: 5px;
    width: 70px;
    height: 70px;
} */ */
.parent ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
        display: flexbox;
}
.parent ul li {
    display: inline;
    text-align: left;
    display: flexbox;
}
html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-primary);
    color: var(--color-body);
    font-weight: var(--p-regular);
  }

  